<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twt.service.wenjin" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".WenJinApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".ui.question.QuestionActivity"
            android:label="@string/title_activity_question" >
        </activity>
        <activity
            android:name=".ui.answer.detail.AnswerDetailDetailActivity"
            android:label="@string/title_activity_answer_detail" >
        </activity>
        <activity
            android:name=".ui.publish.PublishActivity"
            android:label="@string/title_activity_publish"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".ui.answer.AnswerActivity"
            android:label="@string/title_activity_answer" >
        </activity>
    </application>

</manifest>
